.container-multislider .multislider__wrap{
    max-width: 1380px;
    width: 100%;
    margin: 0 auto;
}
.container-multislider .slick-list{
    max-width: 1251px;
    width: 100%;
    margin: 0 auto;
}
.container-multislider .multislider__wrap{
    padding-bottom: 60px;
    position: relative;
}
.container-multislider .multislider__title h3{
    font-weight: bold;
    font-size: 25px;
    line-height: 34px;
    text-align: center;
}
.container-multislider .multi__slide{
    margin: 0 auto 20px;
    max-width: 273px;
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
    transition: ease 0.7s all;
    position: relative;
}
.container-multislider .multi__slide:hover{
    box-shadow: -10px 5px 30px rgba(0, 0, 0, 0.1);
    transition: ease 0.7s all;
}
.container-multislider .slide__box-img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    min-height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center, center;
}
.container-multislider .slide__box-container{
    min-height: 165px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: 1px solid #DCDCDC;
    border-right: 1px solid #DCDCDC;
    border-bottom: 1px solid #DCDCDC;
    text-align: center;
    padding: 0 25px 19px;
}
.container-multislider .slide__box-wrap{
    height: 102px;
}
.container-multislider .slide__title{
    font-weight: bold;
    width: 100%;
    margin: 0 auto;
    max-width: 200px;
    font-size: 17px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    max-height: 40px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    padding-top: 20px;
}
.container-multislider .slide__sub-title{
    font-size: 13px;
    line-height: 15px;
    color: #737373;
    padding-top: 10px;
}
.container-multislider .slide__body{
    font-size: 13px;
    line-height: 15px;
    padding-bottom: 20px;
}
.container-multislider .slide__btn a{
    text-decoration: none;
    font-size: 15px;
    line-height: 20px;
    padding: 10px 30px;
    background: #FFE100;
    border-radius: 5px;
}
.container-multislider .circle {
    width: 50px;
    height: 50px;
    z-index: 2;
    border-radius: 25px;
    filter: drop-shadow(0px 12px 20px rgba(9, 42, 94, 0.1));
    position: absolute;
    cursor: pointer;
    transition: ease 0.7s all;
}
.container-multislider .circle:hover{
    opacity: 0.7;
    transition: ease 0.7s all;
}
.container-multislider .prev__custom-arr{
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    background: url('./image/icon_arrow_left_50_w.png') no-repeat 50%/100%;
}
.container-multislider .next__custom-arr{
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    background: url('./image/icon_arrow_right_50_w.png') no-repeat 50%/100%;
}


