.row__deatailInfo {
	display: grid;
	grid-template-columns: 100px 1fr;
	grid-row-gap: 15px;
	margin-bottom: 28px;
}

.detailInfo__name,
.detailInfo__value {
	font-size: 15px;
	line-height: 20px;
	color: #737373;
}

.price__name {
	font-weight: bold;
}

.old__price {
	font-size: 17px;
	line-height: 20px;
	color: #e73c3e;
	font-weight: bold;
	text-decoration: line-through;
}

.new__price {
	font-size: 17px;
	line-height: 20px;
	font-weight: bold;
}

.price__value {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
