.tabs__buttons {
	display: flex;
	margin-top: 57px;
}

.tabs__button {
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #f2f2f2;
	border-radius: 30px;
	margin-right: 5px;
	padding: 15px 20px;
	cursor: pointer;
	border: 2px solid#f2f2f2;
}

.active__tab {
	background-color: white;
	border: 2px solid #dcdcdc;
}

.result__title {
	font-weight: bold;
	font-size: 17px;
	line-height: 20px;
}
