.product__info-right {
	border-bottom: 1px solid #b9b9b9;
}

.product__title {
	font-weight: 600;
	font-size: 30px;
	line-height: 50px;
}

.product__description-title {
	font-weight: 400;
	font-size: 20px;
	line-height: 25px;
	margin: 20px 0;
	font-weight: bold;
}

.title__new {
	margin: 30px 0 21px 5px;
}
