.slider__img {
	overflow: hidden;
	background-size: cover;
	background-position: center;
}

.slider1 .slider__img {
	height: 600px;
	border-radius: 10px;
}

.slider2 .slider__img {
	height: 100px;
	margin: 0 5.5px;
	border-radius: 5px;
}

.slider2 .slick-active:first-of-type {
	background: green !important;
}

.slider__img img {
	width: 100%;
}
.slider1 {
	margin-bottom: 17px;
}

:focus {
	outline: none !important;
}
